* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: #fff;
  text-align: center; }

.contenedor {
  width: 100%;
  max-width: 1300px;
  overflow: hidden;
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center; }

@media screen and (max-width: 1000px) {
  .contenedor .sideizq {
    width: 100%; }
  .contenedor .main {
    width: 100%; } }
.sideizq {
  background: #020819;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20%;
  max-height: 1200px; }
  .sideizq .sup {
    width: 100%;
    height: 30%;
    display: flex; }
    .sideizq .sup .contenedor-logo {
      width: 90%;
      margin: 5%; }
      .sideizq .sup .contenedor-logo .logo {
        width: 100%;
        margin-bottom: 10px; }
        .sideizq .sup .contenedor-logo .logo img {
          width: 100%; }
  .sideizq .med {
    width: 100%;
    height: 40%;
    display: block;
    justify-content: center; }
    .sideizq .med .contenedor-menu {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .sideizq .med .contenedor-menu .iconoizq {
        width: 30%;
        max-height: 60px;
        color: #fff;
        border-radius: 3px;
        border: 3px;
        padding: 10px;
        text-align: center; }
      .sideizq .med .contenedor-menu .textizq {
        width: 70%;
        text-decoration: none;
        max-height: 60px;
        color: #fff;
        border-radius: 3px;
        border: 3px;
        padding: 10px;
        text-align: left; }
        .sideizq .med .contenedor-menu .textizq:hover {
          background: #020202; }
  .sideizq .redes-sociales {
    width: 100%;
    height: 30%;
    justify-content: space-around;
    display: flex; }
    .sideizq .redes-sociales .contenedor-redes {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .sideizq .redes-sociales .contenedor-redes .twitter:hover {
        background: #1da1f2; }
      .sideizq .redes-sociales .contenedor-redes .facebook:hover {
        background: #3b5998; }
      .sideizq .redes-sociales .contenedor-redes .youtube:hover {
        background: #cd201f; }
      .sideizq .redes-sociales .contenedor-redes .github:hover {
        background: #666666; }
      .sideizq .redes-sociales .contenedor-redes .instagram:hover {
        background: #3f729b; }
      .sideizq .redes-sociales .contenedor-redes a {
        text-align: center;
        color: #fff;
        width: 15%;
        display: block;
        padding: 8px;
        border-radius: 3px;
        font-size: 20px;
        margin: 0 5px; }

.main {
  background: #fff;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 800px;
  max-height: 1200px;
  font-size: 13px; }
  .main .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #f1f1f1; }
    .main .container .titulo {
      width: 100%; }
    .main .container .tabla {
      width: 90%;
      margin: 10px 10px; }
      .main .container .tabla table {
        border: 1px solid #000;
        border-collapse: collapse;
        width: 100%;
        text-align: center; }
        .main .container .tabla table td {
          border: 1px solid #000;
          padding: 2px 2px;
          width: 7%; }
        .main .container .tabla table th {
          border: 1px solid #000;
          padding: 2px 2px;
          background: #009ddc;
          color: #fff;
          width: 7%; }

/*# sourceMappingURL=estilostabla.css.map */
